<ion-content [fullscreen]="true" class="contact-background">
  <ion-card>
    <ion-button fill="clear" class="camera-button" (click)="tomarFoto()">
      <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
    </ion-button>

    <ion-card-header>
      <ion-card-title>
        ¡Contáctanos! | Si quieres un juego pídelo y lo traemos 🪄
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-textarea
        [(ngModel)]="mensaje"
        placeholder="Escribe tu mensaje (máx. 100 caracteres) o adjunta una foto"
        maxlength="100"
        rows="6">
      </ion-textarea>
      <ion-button expand="block" (click)="enviar()" [disabled]="mensaje.trim().length === 0">Enviar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
