<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="logo-container">
      <img src="assets/logo-tiendaRLL.png" alt="E11evenStore" class="logo-header" />
    </div>
    <app-top-menu></app-top-menu>
    <ion-button fill="clear" color="danger" shape="round" (click)="cerrarSesion()" style="margin-right: 10px;">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="perfil-background">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="section-title">Mi Perfil</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form *ngIf="usuario">
        <!-- Campos mi-perfil -->
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [readonly]="!editando" [(ngModel)]="usuario.nombre" name="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Apellidos</ion-label>
          <ion-input [readonly]="!editando" [(ngModel)]="usuario.apellidos" name="apellidos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input type="email" [readonly]="!editando" [(ngModel)]="usuario.correo" name="correo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Teléfono</ion-label>
          <ion-input [readonly]="!editando" [(ngModel)]="usuario.telefono" name="telefono"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Dirección</ion-label>
          <ion-input [readonly]="!editando" [(ngModel)]="usuario.direccion" name="direccion"></ion-input>
        </ion-item>
      </form>

      <!-- Botones de edición -->
      <div class="ion-margin-top" *ngIf="!editando">
        <ion-button expand="block" color="primary" shape="round" (click)="editar()">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Modificar datos
        </ion-button>
      </div>

      <!-- Botones de guardar/cancelar cambios -->
      <div class="ion-margin-top" *ngIf="editando">
        <ion-button expand="block" color="success" shape="round" (click)="guardarCambios()">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          Guardar
        </ion-button>
        <ion-button expand="block" color="medium" shape="round" (click)="cancelarEdicion()">
          <ion-icon slot="start" name="close-outline"></ion-icon>
          Cancelar
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
