<ion-toolbar color="light" class="top-toolbar">
  <ion-segment>
    <ion-segment-button data-testid="btn-home" (click)="goTo('/home')" layout="icon-top">
      <ion-icon name="home-outline"></ion-icon>
    </ion-segment-button>

    <ion-segment-button data-testid="btn-geo" (click)="goTo('/geolocalizacion')" layout="icon-top">
      <ion-icon name="location-outline"></ion-icon>
    </ion-segment-button>

    <ion-segment-button data-testid="btn-contacto" (click)="goTo('/contacto')" layout="icon-top">
      <ion-icon name="chatbox-outline"></ion-icon>
    </ion-segment-button>

    <ion-segment-button data-testid="btn-perfil" (click)="goTo('/mi-perfil')" layout="icon-top">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
