.home-background {
  --background: none !important;
  background: linear-gradient(to right, #2c0a44, #000000);
  color: white;
  padding: 1rem;
  min-height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  position: relative;
  ion-content::part(scroll) {
    overscroll-behavior: contain;
  }
}

//header
.header-toolbar {
  --background: none;
  background: linear-gradient(to right, #2c0a44, #000000);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  height: auto;
  position: relative;
  z-index: 1;
  padding-top: 20px; 
}
//logo-header
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-header {
  height: 60px;
  width: auto;
  object-fit: contain;
}
//titulo-header
.titulo-app {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin: 0;
}
//logo cierre sesion
.logout-btn {
  margin-right: 8px;
}

/* contenido */



ion-list ion-item {
  color: white;
}


ion-card {
  //background-color: #1c1c1e;
  color: white;
  border-radius: 10px;
}

ion-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

ion-card-content {
  padding: 10px;
}

ion-button {
  margin-top: 10px;
}

.saludo-card {
  margin: 16px;
  background: linear-gradient(145deg, #3b3b98, #5f27cd);
  color: white;
  text-align: center;
  border-radius: 12px;
  padding: 12px;
}

ion-content {
  position: relative;
  z-index: 0; 
  padding-top: 120px;
}

/* Estilos del botón del carrito */
.carrito-btn {
  --background: #4e73df; /* Fondo azul */
  --color: white; /* Texto blanco */
  --border-radius: 30px; /* Bordes redondeados */
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  position: relative;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el icono y el texto */
  transition: transform 0.2s ease; /* Transición para efectos */
}

/* Estilo del icono carrito */
.carrito-btn ion-icon {
  font-size: 24px; /* Tamaño del icono */
  color: white;
}

/* Estilo del texto */
.carrito-btn .btn-text {
  font-size: 14px;
  text-transform: capitalize;
}

/* Efecto al hacer hover (pasar el mouse sobre el botón) */
.carrito-btn:hover {
  --background: #2e59d9; 
  transform: translateY(-4px); 
}

/* Estilo del badge */
.carrito-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
}
