.home-background {
  --background: none !important;
  background: linear-gradient(to right, #2c0a44, #000000);
  color: white;
  padding: 1rem;
  min-height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;

  ion-content::part(scroll) {
    overscroll-behavior: contain;
  }
}

//header
.header-toolbar {
  --background: none;
  background: linear-gradient(to right, #2c0a44, #000000);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  height: auto;
  position: relative;
}
//logo-header
.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-header {
  height: 60px;
  width: auto;
  object-fit: contain;
}
//titulo-header
.titulo-app {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin: 0;
}
//logo cierre sesion
.logout-btn {
  margin-right: 8px;
}

/* contenido */



ion-list ion-item {
  color: white;
}


ion-card {
  //background-color: #1c1c1e;
  color: white;
  border-radius: 10px;
}

ion-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

ion-card-content {
  padding: 10px;
}

ion-button {
  margin-top: 10px;
}

.saludo-card {
  margin: 16px;
  background: linear-gradient(145deg, #3b3b98, #5f27cd);
  color: white;
  text-align: center;
  border-radius: 12px;
  padding: 12px;
}
