.home-background {
  --background: linear-gradient(to right, #6a0dad, #000000) !important;
  padding: 1rem;
}

.header-toolbar {
  --background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-header {
  height: 80px;
  object-fit: contain; // evita que se vea estirado o "chato"
}

.header-gradient {
  --background: transparent !important;
  background: linear-gradient(to right, #6a0dad, #000000) !important;
}


.section-title {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

ion-list ion-item {
  color: white;
}


ion-card {
  background-color: #1c1c1e;
  color: white;
  border-radius: 10px;
}

ion-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

ion-card-content {
  padding: 10px;
}

ion-button {
  margin-top: 10px;
}

.saludo-card {
  margin: 16px;
  background: linear-gradient(145deg, #3b3b98, #5f27cd);
  color: white;
  text-align: center;
  border-radius: 12px;
  padding: 12px;
}
