<ion-header>
  <ion-toolbar class="header-toolbar">
    <div class="toolbar-left">
      <div class="logo-container">
        <img src="assets/logo-tiendaRLL.png" alt="E11evenStore" class="logo-header" />
    <ion-title class="titulo-app">E11evenStore | Tiendas cercanas 📍</ion-title>
  </div>
    </div>

    <app-top-menu></app-top-menu>

    <ion-button fill="clear" color="danger" shape="round" (click)="cerrarSesion()" class="logout-btn">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let tienda of tiendas" button (click)="abrirEnGoogleMaps(tienda.lat, tienda.lon)">
      <ion-label>
        <h2>{{ tienda.nombre }}</h2>
        <p>{{ tienda.direccion }}</p>
      </ion-label>
      <ion-icon slot="end" name="navigate-outline" color="primary"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
