<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title class="ion-text-center">E11evenStore | Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content">
  <div class="background-animation">
    <lottie-player
      src="assets/fondo-registro.json"
      background="transparent"
      speed="1"
      loop
      autoplay>
    </lottie-player>
  </div>

  <div #formContainer class="form-container">
    <ion-card class="registro-card">
      <ion-card-header>
        <ion-card-title class="titulo">Regístrate</ion-card-title>
        <ion-card-subtitle class="subtitulo">Ingresa tus datos</ion-card-subtitle>
        <ion-button fill="clear" class="btn-volver" (click)="volver()">Volver al login</ion-button>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registroForm" (ngSubmit)="registrar()" class="formulario">

          <!-- Nombre -->
          <ion-item [class.valid]="registroForm.get('nombre')?.valid"
                    [class.invalid]="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched">
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input formControlName="nombre" placeholder="Ingresa tu nombre"></ion-input>
            <ion-icon slot="end" name="checkmark-circle" *ngIf="registroForm.get('nombre')?.valid"></ion-icon>
            <ion-icon slot="end" name="close-circle" *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched"></ion-icon>
          </ion-item>

          <!-- Apellidos -->
          <ion-item [class.valid]="registroForm.get('apellidos')?.valid"
                    [class.invalid]="registroForm.get('apellidos')?.invalid && registroForm.get('apellidos')?.touched">
            <ion-label position="stacked">Apellidos</ion-label>
            <ion-input formControlName="apellidos" placeholder="Ingresa tus apellidos"></ion-input>
            <ion-icon slot="end" name="checkmark-circle" *ngIf="registroForm.get('apellidos')?.valid"></ion-icon>
            <ion-icon slot="end" name="close-circle" *ngIf="registroForm.get('apellidos')?.invalid && registroForm.get('apellidos')?.touched"></ion-icon>
          </ion-item>

          <!-- Correo -->
          <ion-item [class.valid]="registroForm.get('correo')?.valid"
                    [class.invalid]="registroForm.get('correo')?.invalid && registroForm.get('correo')?.touched">
            <ion-label position="stacked">Correo</ion-label>
            <ion-input type="email" formControlName="correo" placeholder="example@example.com"></ion-input>
            <ion-icon slot="end" name="checkmark-circle" *ngIf="registroForm.get('correo')?.valid"></ion-icon>
            <ion-icon slot="end" name="close-circle" *ngIf="registroForm.get('correo')?.invalid && registroForm.get('correo')?.touched"></ion-icon>
          </ion-item>

          <!-- Contraseña -->
        <ion-item [class.valid]="registroForm.get('contrasena')?.valid"
                  [class.invalid]="registroForm.get('contrasena')?.invalid && registroForm.get('contrasena')?.touched">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password"
                    formControlName="contrasena"
                    placeholder="Escribe una contraseña numéricos de 4 dígitos"
                    data-testid=="input-contrasena">
          </ion-input>
          <ion-icon slot="end" name="checkmark-circle" *ngIf="registroForm.get('contrasena')?.valid"></ion-icon>
          <ion-icon slot="end" name="close-circle" *ngIf="registroForm.get('contrasena')?.invalid && registroForm.get('contrasena')?.touched"></ion-icon>
        </ion-item>

      <!-- Repetir Contraseña -->
          <ion-item [class.valid]="registroForm.get('repetir_contrasena')?.valid && contraseniasIguales()"
                    [class.invalid]="!contraseniasIguales() && registroForm.get('repetir_contrasena')?.touched">
            <ion-label position="stacked">Repetir contraseña</ion-label>
            <ion-input type="password"
                    formControlName="repetir_contrasena"
                    placeholder="Repite tu contraseña"
                    data-testid="input-repetir-contrasena">
            </ion-input>
            <ion-icon slot="end" name="checkmark-circle" *ngIf="contraseniasIguales() && registroForm.get('repetir_contrasena')?.touched"></ion-icon>
            <ion-icon slot="end" name="close-circle" *ngIf="!contraseniasIguales() && registroForm.get('repetir_contrasena')?.touched"></ion-icon>
          </ion-item>

          <!-- Fecha de nacimiento -->
          <ion-item>
            <ion-label position="stacked">Fecha de nacimiento</ion-label>
            <ion-input type="date" formControlName="fecha_nacimiento" placeholder="Selecciona fecha de nacimiento"></ion-input>
          </ion-item>

          <!-- Dirección -->
          <ion-item>
            <ion-label position="stacked">Dirección</ion-label>
            <ion-input formControlName="direccion" placeholder="Ingresa tu dirección"></ion-input>
          </ion-item>

          <!-- Teléfono -->
          <ion-item>
            <ion-label position="stacked">Teléfono</ion-label>
            <ion-input formControlName="telefono" placeholder="Ingresa tu teléfono (9 dígitos)"></ion-input>
          </ion-item>

          <!-- Comuna -->
          <ion-item>
            <ion-label position="stacked">Comuna</ion-label>
            <ion-input formControlName="comuna" placeholder="Ingresa tu comuna"></ion-input>
          </ion-item>

          <!-- Ciudad -->
          <ion-item>
            <ion-label position="stacked">Ciudad</ion-label>
            <ion-input formControlName="ciudad" placeholder="Ingresa tu ciudad"></ion-input>
          </ion-item>

          <div class="botones">
            <ion-button type="button" style="background: #ac4627; color: white;" (click)="limpiar()">Limpiar</ion-button>
            <ion-button type="submit" style="background: #32269c; color: white;"="registroForm.invalid">Registrarse</ion-button>
          </div>

        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
